
html{           
    box-sizing: border-box;     /* el padding y el border pasan a formar parte del cálculo del ancho de la caja y no lo suman posteriormente */
    font-size: 62.5%;   /* Ahora 1rem equivale a 10px */
}

*, *::after, ::before{   
    box-sizing: inherit;   
}















